- hosts: all
  tasks:
  - name: 'Install Docker'
    apt:
      name: docker
      state: latest
      update_cache: true
    become: yes
    become_user: root
  - name: 'Install Docker Compose'
    apt:
      name: docker-compose
      state: latest
      update_cache: true
    become: yes
    become_user: root
  - name: 'Configure Docker'
    ansible.builtin.shell: |
      groupadd docker
      usermod -aG docker $USER
      newgrp docker
    become: yes
    become_user: root