name: build-and-push

on:
  push:
    branches:
      - 'master'
      - 'issue-11-githubactions'

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          buildkitd-flags: --debug
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Articulate App Build/Push Image
        uses: docker/build-push-action@v2
        with:
          context: ./app
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/articulate-app:latest
      -
        name: Articulate Build/Push Image
        uses: docker/build-push-action@v2
        with:
          context: ./articulate
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/articulate:latest
      -
        name: Categories Build/Push Image
        run: |
          ls
          tree
          docker build -f categories/Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME }}/categories:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/categories:latest
      -
        name: Numbers Build/Push Image
        uses: docker/build-push-action@v2
        with:
          context: ./numbers
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/numbers:latest